.content {
    @apply w-full h-full relative text-white grid grid-cols-1 place-content-center p-16;
    &__img {
        @apply flex flex-col justify-center items-center;
        img {
            animation: animateImg 2s linear infinite alternate;
            @apply w-60
        }
    }
    &__number {
        animation: animateText 2s linear infinite alternate;
        @apply -top-14 relative text-6xl
    }
}

@keyframes animateImg {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-5%);
    }
}

@keyframes animateText {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}